* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif
}

.navbar {
  color: rgba(143, 57, 133, .8);
}

.navigation {
  padding-bottom: .45em;
}
#source {
  color: #337ab7 !important;
  text-decoration: underline !important;
}

a {
  color: #ffffff !important;
  text-decoration: none;
}

.counsel a {
  color: #337ab7 !important;
  text-decoration: underline !important;
}

.nav-item {
  color: white;
  text-decoration-color: white;
  font-size: 1.1em;
  letter-spacing: 0;
  font-weight: 500;
}

/*.symptom-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}*/

.symptom-thing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
#symptom-head.jumbotron {
  background-image: url("public/css/img/symptom.png");
}
.sympText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sympImg {
  width:auto;
  height: auto;
  margin-left: 20px;
  margin-top: 60px;
}

.jumbotron {
  padding-top: 1em;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #a44200;
  border-width: 1px;
  padding-top: 30px;
  background-image: url("/css/img/symptom.png") !important;
}

/*.symptom {
  margin-top: 5px;
}*/


#nav {
    width: 100%;
    position: fixed;
    height: 75px;
    margin: 0 0 3em 0;
    margin-top: 0;
    padding: 0;
    list-style: none;
    background-color: rgba(143, 57, 133, .8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#nav li {
  font-size: 1.1em;
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: 500;
	color: white;
}

#nav li a:hover {
	color: white;
  text-decoration: underline;
}

.banner {
  z-index: 900;
  text-align: center;
  position: absolute;
  font-size: 6em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 2.5em;
  margin-bottom: 15em;
}

.design-photo {
  justify-content:'center';
  padding-top :'0em';
  padding-bottom:'1em';
  position:relative;
}

.photo {
  float:left;
  z-index: 200;
  padding-left: 5em;
}

body {
  margin: 0;
  padding: 0;
}

.jumbo-bg {
  h1 {
    text-align: center;
  }

  img {
    margin: 0;
    padding: 0;
  }
}

.jumbo-fadeUp {
  font-size: 1.5em;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.jumbo-fadeUp {

  h1, h2 {
    color: #F25C5E;
    font-weight: 700
  }

  p {
    line-height: 1.5
  }
}

  h1, h2, h3 {
    color: darken(#FFA566,10);
    font-weight: 700;
    line-height: 2;
    padding: 1rem;

  }

  .drawerStyle {
    margin-bottom: 0em;
    color: #000000 !important;
    text-shadow: none;
    padding-top: 3rem;

  }

  p {
    line-height: 1.5
  }
}

.jumbo-fadeIn.fade-stagger {
  h1, h2 {
    color: #437f91;

  }
}

.jumbo-fadeIn {

   display: flex;
   flex-direction: column;
   padding-top: -1em;
   padding-bottom: -1em;
   margin-bottom: 1em;
   font-size: 5em;

}

.jumbo-fadeUp.left {
  padding-left: 10rem
}

.jumbo-fadeUp.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo-fadeUp.right.img {
  padding-top: 0px;
}

.flex-counsel {
  display:flex;
  flex-wrap: wrap
  flex: 0 1 auto;
  padding:50em;
  margin-top: 1em;
  height: 150em;
  background-color: #b34700;
  color:#333;
  font-family: sans-serif;
  font-size: 55px;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em
}

.btn {
  background-color: #FFA566;
  padding:12px !important;
  margin-left: 40px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  width: 250px;
  border-radius: 24px;
  border: none;
  color: white;
  font-size: 17px !important;
  line-height: 26px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  transition: 0.3s;
  cursor: pointer
}

.btn:hover {
  background-color: darken(#FFA566,9)
}

.fade-stagger {
  background-color: #cbe8ed;
}

.btn.drawer-btn {
  background-color: #F25C5E;
  margin: 0px auto;
  display: block;

}

.btn.drawer-btn:hover {
  background-color: darken(#F25C5E, 6);
}

.btn.nav-btn {
  display: block;
  margin: 50px auto 0;
  background-color: #f77c77;
}

.btn.nav-btn:hover {
  background-color: darken(#f77c77,8)
}

.react-dynamic-drawer {
  background-color: #F25C5E !important;
  font-size: 1.5em;
}

.health-symbol {
  padding-top: 7.5rem;
}

.healthPage {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}

.pharmacy {
  background-color: #edd3ea;
}

.doctor {
  background-color: rgba(147,236,225, .3);
}

.infowindow h5 {
    font-weight: bold;
  }

.map {
  align-self: baseline;
  padding-top: 1em;
}

table {
  border-collapse: collapse;
    padding: 0;
    margin: 0 0 11px 0;
    width: auto;
    margin-left: 5%;
    list-style: none;
  }

table th {
  text-align: left;
    border-bottom: 2px solid #eee;
    vertical-align: bottom;
    padding: 0 10px 10px 10px;
    text-align: right;
  }

table td {
  border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 10px;
    text-align: right;
    font-size: 1.2em;
  }

.tableName {
  font-size: 1.3em;
}

table ul {
  list-style: : none;
  text-align: left;
}

table th:nth-child(1),
table td:nth-child(1) {
  text-align: left;
    padding-left: 0;
    font-weight: bold;
  }

  .col-border {
    border-left: 1px solid #8f3985;
    position: static;
    top:0;
    bottom: 0;
    padding-left: 0;
    height: 768px;
  }

  .bc-row {
    margin-left: -38px !important;
    margin-right: -10px !important;
  }

  .one {
    border-left:none;
  }
